<div class="body">
  <div class="container">
       <div class="row">
       	<%= @order.payment_info_i18n  %>
       	<%= @order.postal_code  %>
       	<%= @order.delivery_address  %>
       	<%= @order.destination  %>






       </div>
   </div>
</div>
