// Place all the styles related to the admins/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.table-title {
	background-color: #eeeeee;
	border-top: solid 1px;
}

.item-table {
	width: 100%;
}

.admin-table-th, .admin-table-td {
	border-bottom: solid 1px;
	height: 50px;
}

.glyphicon-icon {
	font-size: 45px;
	text-decoration:none;
	color: black;
}