// Place all the styles related to the admins/order_histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.admin-order-histories-table {
	width: 100%;
	margin-top: 30px;
}

.admin-order-histories-table thead {
	background-color: #eeeeee;
	border-top: solid 1px;
}

.admin-order-histories-table th, .admin-order-histories-table td {
	height: 50px;
	border-bottom: solid 1px;
}

.admin-order-histories-table tr td:nth-child(1) {
  width: 250px;
}
.admin-order-histories-table tr td:nth-child(2) {
  width: 250px;
}